@media screen and (min-width: 1023px) {
    body {
            margin: 0 auto;
    }
  }

body{
    background-color: rgb(228, 200, 159);
    max-width: 1023px;
}
section{
    margin-top: 75px;
    margin-bottom: 75px;
}
img{
    float: right;
    width: 250px;
    margin: 10px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(119, 67, 30);
}

h1{
    margin: 20px;
    align-self: center;
}
.bg-dark {
    background-color: rgba(163, 81, 22, 0.397) !important;
}